section {
	padding: 25px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	opacity: 1;
	height: 350px;
	background: rgba(25, 25, 25, .65);
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
	-o-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
}

section header {
	text-align: center;
	margin-top: -15px;
	margin-bottom: 0px;
}

section h1 {
	text-align: center;
	color: rgba(255, 255, 255, 1);
	font-size: 48px;
	padding-top: 15px;
	font-family: 'HattoriHanzoLight', Verdana;
	font-weight: bold;
	margin-bottom: 25px;
}

section p {
	font-family: 'ComfortaaRegular', Verdana;
	color: rgba(175, 175, 175, 1);
	font-size: 18px;
}

h2 {
	text-align: center;
	color: rgba(255, 255, 255, 1);
	font-family: 'HattoriHanzoLight', Verdana;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 25px;
}

h3 {
	text-align: center;
	font-size: 28px;
	padding-top: 15px;
	font-family: 'ComfortaaRegular', Verdana;
	color: rgba(175, 175, 175, 1);
	margin-bottom: 25px;
}

article {
	margin-bottom: 25px;
}

p#form {
	font-style: italic;
}

input#user_name {
	background: rgba(69, 72, 77, 0);
	width: 165px;
	height: 30px;
	font-family: 'ComfortaaBold', Verdana;
	color: rgba(101, 209, 84, 1);
	font-size: 18px;
	text-align: center;
}

input#user_email {
	background: rgba(69, 72, 77, 0);
	width: 190px;
	height: 30px;
	font-family: 'ComfortaaBold', Verdana;
	color: rgba(101, 209, 84, 1);
	font-size: 18px;
	text-align: center;
}

input#user_name:focus, input#user_email:focus {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
	-o-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
}

.not_selected {
	border: none;
	border-bottom: 2px solid rgba(48, 157, 207, 1);
}

div#form_button {
	float: right;
}

input#submit {
	background: none;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;
	border: none;
	color: rgba(255, 255, 255, 1);
	padding: 10px;
	border: 1px solid rgba(4, 135, 187, 1);
	-webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -wekbkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(100, 100, 100, 1);
  -moz-box-shadow: 1px 1px 10px -1px rgba(100, 100, 100, 1);
  -o-box-shadow: 1px 1px 10px -1px rgba(100, 100, 100, 1);
  box-shadow: 1px 1px 10px -1px rgba(100, 100, 100, 1);
  -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
  -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
  -o-text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
}

input#submit {
	background: rgb(173,217,228); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#2cafe3',GradientType=0 ); /* IE6-8 */
}

input#submit:hover, input#submit:focus {
	background: rgb(44,175,227); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjYWZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGQ5ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(44,175,227,1) 0%, rgba(173,217,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,175,227,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,175,227,1) 0%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,175,227,1) 0%,rgba(173,217,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,175,227,1) 0%,rgba(173,217,228,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(44,175,227,1) 0%,rgba(173,217,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cafe3', endColorstr='#add9e4',GradientType=0 ); /* IE6-8 */
}

input#submit:active {
	-webkit-box-shadow: 0px 0px 5px rgba(100, 100, 100, 1) inset;
	-moz-box-shadow: 0px 0px 5px rgba(100, 100, 100, 1) inset;
	-o-box-shadow: 0px 0px 5px rgba(100, 100, 100, 1) inset;
	box-shadow: 0px 0px 5px rgba(100, 100, 100, 1) inset;
}

div#success {
	display: none;
}

div#failure {
	display: none;
	position: absolute;
	top: 195px;
	left: 490px;
	background: rgba(255, 0, 0, .5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 10px;
}

div#failure p {
	margin: 0;
	color: rgba(255, 255, 255, 1);
	font-family: 'HattoriHanzoLight', Verdana;
	font-size: 18px;
}

span.name {
	font-family: 'ComfortaaBold', Verdana;
	color: rgba(101, 209, 84, 1);
}

span.green {
	color: rgba(101, 209, 84, 1);
}