div.mountain1 {
	z-index: 127;
	width: 1000px;
	height: 200px;
	bottom: 250px;
	left: 0px;
	margin: auto;
	overflow: hidden;
	position: absolute;
}

div#mountain1 {
	z-index: 127;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/mountain1.png);
	background-repeat: no-repeat;
}

div.mountain2 {
	z-index: 126;
	width: 1000px;
	height: 300px;
	bottom: 250px;
	margin: auto;
	overflow: hidden;
	position: absolute;
}

div#mountain2 {
	z-index: 126;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/mountain2.png);
	background-repeat: no-repeat;
}

div.waves {
	z-index: 128;
	width: 8000px;
	height: 60px;
	bottom: 230px;
	left: -2000px;
	margin: auto;
	overflow: hidden;
	position: absolute;
}

div#waves {
	z-index: 128;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/waves-big.png);
	background-repeat: repeat-x;
}

div.waves1 {
	z-index: 128;
	width: 8000px;
	height: 50px;
	bottom: 250px;
	left: -2000px;
	margin: auto;
	overflow: hidden;
	position: absolute;
}

div#waves1 {
	z-index: 128;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/waves-small.png);
	background-repeat: repeat-x;
}

div.waves2 {
	z-index: 129;
	width: 100%;
	height: 250px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
}

div#waves2 {
	z-index: 129;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/waves2.png);
	background-repeat: repeat-x;
}

div.waves3 {
	z-index: 130;
	width: 100%;
	height: 240px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
}

div#waves3 {
	z-index: 130;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/waves3.png);
	background-repeat: repeat-x;
}